# Integration test workspace for sveltekit_build.

build --incompatible_strict_action_env
build --nolegacy_external_runfiles

build --output_groups=+_validation

test --test_output=errors
test --test_summary=terse
